body /* On travaille sur la balise body, donc sur TOUTE la page */
{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
	background-position: top right; /* Le fond sera placé en haut à droite */
    padding-top: 49px;
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}



