body /* On travaille sur la balise body, donc sur TOUTE la page */
{
    background-image: url("img/comic.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
	background-position: top right; /* Le fond sera placé en haut à droite */
    background-size: cover; /*prend toute la dimension de la page sans perte de qualité*/
    padding-top: 49px;
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#container_left
{
    
    width: 34%;
    display: inline-block;
	vertical-align: top;
    text-align: center;
    padding-top: 70px;
}

#container_left img
{
    width: 500px;
    height: 500px;
    border-radius: 100px;
}

#container_left h3 a
{
    font-size: 50px;
    text-decoration: none; /*le menu ne sera plus souligné*/
    color: peru;
}

#container_left a:hover /* survol de la souris */
{
    color: cadetblue;
}

#container_right
{
    width: 50%;
    display: inline-block;
	width: 65%;
    padding-left: 7px;
    padding-top: 30px;
}

#container_right h1
{
    font-size: 100px;
    color: cadetblue;
}

#container_right h2.argument
{
    color: #ffffff;
    font-size: 30px;
}

#container_right a
{
    text-decoration: none; /*le menu ne sera plus souligné*/
    color: cadetblue;
}