body /* On travaille sur la balise body, donc sur TOUTE la page */
{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
	background-position: top right; /* Le fond sera placé en haut à droite */
    padding-top: 49px;
    margin: auto;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}



